*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body {
    background-color: #ffffff;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    background: radial-gradient(circle at bottom right, rgba(156, 201, 218), #FFF5EF 25%);
    padding: 32px 0px 80px 0px;
}

.logo {
    width: 1185px;
}

.hero-description{
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.hero-description-grid-1 {
    width: 570px;
    height: 491px;
    margin-top: 50px;
}
.hero-description-grid-1 > h1 {
    font-family: 'Martian Mono', sans-serif;
    font-size: 62px;
    line-height: 1.2;
    letter-spacing: -2px;
    background: linear-gradient(107deg, #FF9A60 -11.37%, #062630 61.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 24px;
}

.hero-description-grid-1 > p {
    font-family: 'inter', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.5px;
    font-weight: 400;
    margin-bottom: 32px;
    color: #385159;
}

.hero-description-grid-1 > button {
    font-family: 'Martian Mono', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 20px 24px;
    background: transparent;
    margin-bottom: 20px;
    color: #062630;
    gap: 10px;
}

.rating{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 110px;
    height: 40px;
}

.star > p {
    font-family: 'Martian Mono', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -1px;
    font-weight: 400;
    margin-top: 0px;
    color: #385159;
}

.hero-description-grid-2 {
    width: 540px;
    height: 606px;
}

.hero-description-grid-2 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.read-together-section{
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.read-together-section-main {
    display: flex;
    max-width: 1170px;
    gap: 80px;
    padding: 0px;
    margin: 0px;
}

.hero-image {
    width: 560px;
    height: 520px;
}

.hero-image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.read-together-section-list {
    max-width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.read-together-section-list > ul {
    margin-top: 34px;
    list-style: none;      /* remove list-style-image */
    padding-left: 0;
    max-width: 425px;
    max-height: 268px;
}

.read-together-section-list li {
    padding-bottom: 24px;
    padding-left: 40px;    /* make room for the icon */
    position: relative;    /* needed for ::before positioning */
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.5px;
    color: #385159;
}

.read-together-section-list li::before {
    content: "";
    background-image: url('./image/icon-check.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;           /* match your icon size */
    height: 24px;
    position: absolute;
    left: 0;
    top: 50%;                    
    transform: translateY(-100%); 
}

.read-together-section-list > h1 {
    font-family: 'Martian Mono', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.3;
    letter-spacing: -2px;
    color: #062630;
}

.book-club { 
    display: flex;
    justify-content: center;
    margin: 120px 0px;
}

.book-club-main {
    display: flex;
    flex-direction: row;
    max-width: 1170px;
    max-height: 520px;
    position: relative;
    align-items: center;
    gap: 80px;
}

.book-club-description {
    max-width: 528px;
    max-height: 266px;
}

.book-club-description > h1 {
    font-size: 50px;
    line-height: 1.3;
    letter-spacing: -2px;
    font-family: 'Martian Mono', sans-serif;
    font-weight: 600;
    color: #062630;
}

.highlight-circle {
    position: relative;
    display: inline-block;
}

.highlight-circle::before {
    content: "";
    background-image: url('./image/pattern-circle.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 120%;        /* wider than the word */
    height: 150%;       /* taller than the text */
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);  /* center over the word */
}

.book-club-description > p {
    margin-top: 24px;
    color: #385159;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.5px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.code {
    color: #062630;
    font-weight: 600;
}

.book-club-image {
    max-width: 560px;
}

.book-club-image > .image-1 {
    position: absolute;
    bottom: 5%;
    left: 45%;
}

.book-club-image > .image-2 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.reading-journey {
    display: flex;
    justify-content: center;
}

.reading-journey-main {
    max-width: 1170px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(circle at bottom right, rgba(156, 201, 218), #FAF5F3 25%);
    border-radius: 10px;
    padding: 80px 0px;
    gap: 64px;
}

.reading-journey-main > h1 {
    font-family: 'Martian Mono', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.3;
    letter-spacing: -2px;
    max-width: 512px;
    max-height: 130px;
    text-align: center;
    color: #062630;
}

.reading-journey-steps {
    display: flex;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.reading-journey-step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 227px;
    position: relative;
}

.step-number {
    width: 36px;
    height: 36px;
    border: 2px solid #062630;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Martian Mono', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -1px;
    margin-bottom: 12px;
}

.reading-journey-step p {
    font-family: 'Martian Mono', sans-serif;
    font-weight: 600px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -1px;
}

.reading-journey-arrow {
    align-self: flex-start;
    padding-top: 8px;
    position: relative;
}

.reading-journey-arrow img {
    display: block;
    position: absolute;
    right: 10px;
}

.membership {
    display: flex;
    justify-content: center;
    margin: 120px 0px;
}

.membership-main {
    max-width: 970px;
    max-height: 519px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.membership-title > h1 {
    font-family: 'Martian Mono', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.3;
    letter-spacing: -2px;
    color: #062630;
}

.membership-list {
    display: flex;
    gap: 24px;
    width: 100%;
    align-items: center;
}

.membership-option-1 {
    width: 286px;
    height: 358px;
    padding: 24px;
    border: 1px solid #E6E1DF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.membership-option-1 > h3 {
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: -1px;
    font-weight: 400;
    color: #062630;
    font-family: 'Martian Mono', sans-serif;
    margin-bottom: 10px;
    max-width: 100px;
    max-height: 26px;
}

.membership-option-1 > p {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.5px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #385159;
    display: flex;
    align-items: center;
    gap: 12px;
}

.price {
    font-size: 34px;
    line-height: 1.3;
    letter-spacing: -1px;
    font-weight: 600;
    color: #062630;
    font-family: 'Inter', sans-serif;
}

.membership-option-1 hr {
    margin: 10px 0px;
    border: none;
    border-top: 1px solid #E6E1DF;
}

.membership-option-1 > ul {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.5px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #385159;
}

.membership-option-1 li {
    list-style: none;
    background-image: url('/image/icon-check.svg');
    background-repeat: no-repeat;
    padding-left: 40px;
    margin-bottom: 12px;
}

.membership-option-1 > button {
    width: 238px;
    height: 63px;
    margin-top: 12px;
    border: 2px solid #062630;
    color: #062630;
    font-family: 'Martian Mono', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -1px;
    border-radius: 10px;
    background-color: #FFF5EF;
}

.membership-option-2 {
    width: 286px;
    height: 400px;
    padding: 24px;
    border: 1px solid #E6E1DF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: radial-gradient(circle at bottom right, rgba(156, 201, 218), #FAF5F3 25%);
}

.membership-option-2 > h3 {
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: -1px;
    font-weight: 400;
    color: #062630;
    font-family: 'Martian Mono', sans-serif;
    margin-bottom: 10px;
    max-width: 100px;
    max-height: 26px;
}

.membership-option-2 > p {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.5px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #385159;
    display: flex;
    align-items: center;
    gap: 12px;
}

.membership-option-2 hr {
    margin: 10px 0px;
    border: none;
    border-top: 1px solid #E6E1DF;
}

.membership-option-2 > ul {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.5px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #385159;
}

.membership-option-2 li {
    list-style: none;
    background-image: url('/image/icon-check.svg');
    background-repeat: no-repeat;
    padding-left: 40px;
    margin-bottom: 12px;
}

.membership-option-2 > button {
    width: 238px;
    height: 63px;
    margin-top: 12px;
    border: 2px solid #062630;
    color: #062630;
    font-family: 'Martian Mono', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -1px;
    border-radius: 10px;
    background-color: #FFF5EF;
}

.membership-option-3 {
    width: 286px;
    height: 358px;
    padding: 24px;
    border: 1px solid #E6E1DF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.membership-option-3 > h3 {
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: -1px;
    font-weight: 400;
    color: #062630;
    font-family: 'Martian Mono', sans-serif;
    margin-bottom: 10px;
    max-width: 100px;
    max-height: 26px;
}

.membership-option-3 p {
    font-size: 34px;
    line-height: 1.3;
    letter-spacing: -1px;
    font-weight: 600;
    color: #062630;
    font-family: 'Inter', sans-serif;
}

.membership-option-3 hr {
    margin: 10px 0px;
    border: none;
    border-top: 1px solid #E6E1DF;
}

.membership-option-3 > ul {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.5px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #385159;
}

.membership-option-3 li {
    list-style: none;
    background-image: url('/image/icon-check.svg');
    background-repeat: no-repeat;
    padding-left: 40px;
    margin-bottom: 12px;
}

.membership-option-3 > button {
    width: 238px;
    height: 63px;
    margin-top: 12px;
    border: 2px solid #062630;
    color: #062630;
    font-family: 'Martian Mono', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -1px;
    border-radius: 10px;
    background-color: #FFF5EF;
}

.comment-section {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.comment-section-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    max-width: 970px;
}

.comment-section-description {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}

.comment-section-description > h2 {
    font-weight: 600;
    font-family: 'Martian Mono', sans-serif;
    font-size: 34px;
    line-height: 1.3;
    letter-spacing: -1px;
    color: #062630;
}

.comment-section-description > p {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.5px;
    color: #385159;
}

footer {
    background-color: #062630;
    border-radius: 10px 10px 0 0;
}